@media (max-width: 1250px) {
  .ability-point-slot {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 13px;
  }
}

.ability-row {
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  display: grid;
  gap: 0px;
  //margin: 10px 0;
  justify-items: center;
  border-radius: 0px;
  box-shadow: none;
  //padding: 4px;
}
 
.ability-point-slot {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }