.outer {
  display: flex;
  padding: 2vmax;
  background-color: var(--default-background);
  width: 80vw;
  height: fit-content;
  margin: auto;
  z-index: 2;
}

.item-tabs-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  width: 65%;
}
