.item {
    position: relative;
    background-color: var(--text-background);
    min-width: 0;
    transition: opacity .25s;
  }
  
  .item:hover {
    cursor: pointer;
  }
  
  .item > img {
    display: block;
    margin: auto;
    height: 60%;
    filter: brightness(15%);
  }
  
  .item > p {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: var(--text-background);
    text-align: center;
    font-size: 0.55vw;
  }