.build-info-dialog {
  display: grid;
  grid-template-rows: 12% 1fr;
  height: 60%;
  width: 90%;
  padding: 0;
  background-color: var(--grey-background);
  border: none;
  border-radius: 10px 10px 0px 0px;
}

.build-info-dialog:focus {
  outline: none;
}

.title-bar {
  display: flex;
  padding: 0 1%;
  background-color: var(--base-blue-500);
  box-shadow: none;
}

.build-title {
  margin: auto 0;
  color: white;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  font-size: 1.5rem;
  letter-spacing: .5px;
}

.build-info-body {
  display: grid;
  padding: 2%;
}
