:root {
  --text-background: #f0e1cb;
  --default-background: #28271e;
  --tan-background: #ccbda7;
  --grey-background: #525659;
  --souls-color: #aafde2;

  --grey-background-400: #75787a;
  /* base */
  --grey-background-500: #525659;
  /* shaded colors */
  --grey-background-600: #424547;

  /* tinted colors */
  --build-100: #dff3fc;
  --build-200: #bfe7f9;
  --build-300: #9edbf5;
  --build-400: #7ecff2;
  /* base */
  --build-500: #5ec3ef;
  /* shaded colors */
  --build-600: #4b9cbf;
  --build-700: #38758f;
  --build-800: #264e60;
  --build-900: #132730;

  /* tinted colors */
  --weapon-100: #f9ebd5;
  --weapon-200: #f3d7ac;
  --weapon-300: #ecc382;
  --weapon-400: #e6af59;
  /* base */
  --weapon-500: #e09b2f;
  /* shaded colors */
  --weapon-600: #b37c26;
  --weapon-700: #865d1c;
  --weapon-800: #5a3e13;
  --weapon-900: #2d1f09;

  /* tinted colors */
  --spirit-100: #f5e9ff;
  --spirit-200: #ebd3ff;
  --spirit-300: #e2bdfe;
  --spirit-400: #d8a7fe;
  /* base */
  --spirit-500: #ce91fe;
  /* shaded colors */
  --spirit-600: #a574cb;
  --spirit-700: #7c5798;
  --spirit-800: #523a66;
  --spirit-900: #291d33;

  /* tinted colors */
  --vitality-100: #e6f0d6;
  --vitality-200: #cee1ac;
  --vitality-300: #b5d283;
  --vitality-400: #9dc359;
  /* base */
  --vitality-500: #84b430;
  /* shaded colors */
  --vitality-600: #6a9026;
  --vitality-700: #4f6c1d;
  --vitality-800: #354813;
  --vitality-900: #1a240a;
}

@font-face {
  font-family: "Forevs";
  src: url("./assets/fonts/ForevsVariable-Italic.woff2") format("woff2");
}

body {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Forevs", system-ui;
  background-image: url("./assets/background.png");
}

div {
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

#root {
  border-radius: 0;
  box-shadow: none;
}

button:focus {
  transition: opacity 0.2s;
  opacity: 0.8;
}
