:root {
  --text-background: #f0e1cb;
  --default-background: #28271e;
  --tan-background: #ccbda7;
  --grey-background: #525659;
  --souls-color: #55ab9c;

  /* tinted colors */
  --weapon-100: #f9ebd5;
  --weapon-200: #f3d7ac;
  --weapon-300: #ecc382;
  --weapon-400: #e6af59;
  /* base */
  --weapon-500: #e09b2f;
  /* shaded colors */
  --weapon-600: #b37c26;
  --weapon-700: #865d1c;
  --weapon-800: #5a3e13;
  --weapon-900: #2d1f09;

  /* tinted colors */
  --spirit-100: #f5e9ff;
  --spirit-200: #ebd3ff;
  --spirit-300: #e2bdfe;
  --spirit-400: #d8a7fe;
  /* base */
  --spirit-500: #ce91fe;
  /* shaded colors */
  --spirit-600: #a574cb;
  --spirit-700: #7c5798;
  --spirit-800: #523a66;
  --spirit-900: #291d33;

  /* tinted colors */
  --vitality-100: #e6f0d6;
  --vitality-200: #cee1ac;
  --vitality-300: #b5d283;
  --vitality-400: #9dc359;
  /* base */
  --vitality-500: #84b430;
  /* shaded colors */
  --vitality-600: #6a9026;
  --vitality-700: #4f6c1d;
  --vitality-800: #354813;
  --vitality-900: #1a240a;
}

@font-face {
  font-family: "Forevs";
  src: url("../assets/fonts/ForevsVariable-Italic.woff2") format("woff2");
}

body {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Forevs Demo", system-ui;
}

div {
  border-radius: 2.5%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

#root {
  border-radius: 0;
  box-shadow: none;
}

.header {
  height: 50px;
  margin-bottom: 10px;
}

.nav-link {
  width: 10%;
  margin: 0 auto;
  padding: 1%;
  background-color: var(--tan-background);
  text-align: center;
  border-radius: 5%;
  box-shadow: 1px 1px 5px rgba(0,0,0,.7);
  transition: opacity .25s;
}

.nav-link:hover {
  opacity: 0.7;
}



.outer {
  display: flex;
  padding: 2vmax;
  background-color: var(--default-background);
  width: 80vw;
  height: fit-content;
  margin: auto;
  z-index: 2;
}

.item-tabs-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  width: 65%;
}

.tabs {
  height: 5%;
  display: flex;
  flex-direction: row;
}

.tabs button {
  width: 20%;
  background-color: var(--tan-background);
  border: none;
  margin-right: 0.75%;
  border-radius: 2.5%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.tabs button:hover {
  cursor: pointer;
  filter: brightness(75%);
}

.items {
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-template-rows: 25% 1fr 1fr 1fr;
  border-radius: 0.5%;
  height: 110%;
  width: 100%;
  margin: 0px auto;
  padding: 0.25rem 0;
  background-color: var(--weapon-colors);
}

.tier-label {
  display: flex;
  margin: 2px 0px 2px 10px;
  border-radius: 0px;
  box-shadow: none;
  padding: auto;
  justify-content: center;
  vertical-align: center;
}

.rotate-container {
  display: flex;
  margin: auto;
  align-items: center;
  box-shadow: none;
  transform: rotate(-90deg);
}

.souls-icon {
  display: inline;
  width: 20%;
  margin: 0;
}

.tier-cost {
  margin: auto 0;
  display: inline-block;
  color: var(--souls-color);
  text-shadow: 0px 0px 3px black;
}

.tier-grid {
  position: relative;
  display: grid;
  margin-right: 1%;
  padding: 1%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 10px;
  box-shadow: none;
  border-radius: 0px;
}

.item {
  position: relative;
  background-color: var(--text-background);
  min-width: 0;
  transition: opacity .25s;
}

.item:hover {
  cursor: pointer;
}

.item > img {
  display: block;
  margin: auto;
  height: 60%;
  filter: brightness(15%);
}

.item > p {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: var(--text-background);
  text-align: center;
  font-size: 0.55vw;
}

.item:hover > .hide {
  display: inline-block;
  opacity: 100%;
}

.hide {
  display: none;
  position: absolute;
  z-index: 3;
  left: 100%;
  background-color: var(--weapon-color);
  width: 15vw;
  height: fit-content;
  margin-left: 25%;
  padding: 0;
  opacity: 0;
  transition: opacity 1s;
  color: white;
}

.hide-body {
  position: relative;
  height: 60%;
  width: 100%;
  box-shadow: none;
  //border-radius: 0;
  padding-bottom: 5%;
  opacity: 1;
}

.hide h3, h5, p {
  margin: 5% 0;
  padding: 0 5%
}

.hide-body > section > p {
  margin: 0;
  font-size: 0.75vw;
}

.champs-wrapper {
  margin-left: 1%;
  width: fit-content;
}

.build-info {
  display: flex;
  background-color: var(--grey-background);
  margin-bottom: 2%;
}

.build-stats {
  width: 50%;
  margin: 2% auto;
  margin-left: 5%;
  background-color: var(--grey-background);
  box-shadow: inset 2px 2px 5px black;
  padding: 2%;
}

.current-champ {
  position: relative;
  width: 20%;
  margin: 2% auto;
  margin-right: 5%;
  height: 18%;
  background-color: var(--tan-background);
  box-shadow: 0px 0px 5px black;
}

.current-champ > img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 2%;
}

.champs {
  background-color: var(--grey-background);
  margin: auto;
  padding: 10px;
  height: 50vh;
  width: 30vmax;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  overflow: scroll;
  box-shadow: inset 0px 0px 5px black;
  z-index: 1;
}

.champs::-webkit-scrollbar {
  display: none;
}

.champ {
  position: relative;
  background-color: var(--tan-background);
  transition: opacity 0.25s;
}

.champ:hover {
  cursor: pointer;
}

.champ > img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
}

.champ-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-overflow: ellipsis;
  font-family: serif;
  font-weight: 800;
  text-shadow: 0px 0px 8px black, 0px 0px 8px black, 0px 0px 8px black;
  color: var(--tan-background);
}

.inventory {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 1fr;
  column-gap: 10px;
  padding: 2%;
  height: auto;
  width: 70vw;
  margin: 1% auto;
  background-color: var(--default-background);
}

.default-inventory,
.weapon-inventory,
.vitality-inventory,
.spirit-inventory,
.flex-inventory {
  background-color: grey;
  padding: 5%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 4%;
  row-gap: 3%;
}

.inventory img {
  display: inline-block;
  width: 50%;
  margin: 10%;
  filter: brightness(15%);
}

.weapon-slots,
.spirit-slots,
.vitality-slots,
.flex-slots,
.active-slots {
  position: relative;
  background-color: var(--grey-background);
  display: flex; /* Ensures image can be centered */
  justify-content: center; /* Centers image horizontally */
  align-items: center; /* Centers image vertically */
  width: 100%;
}

.active-inventory {
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  padding: 10% 10px;
}

.tier-icon {
  position: absolute;
  margin: 0;
  top: 0%;
  font-size: 1em;
  text-shadow: 0px 1px 6px rgba(0,0,0, .7);
}

.conditional-stats {
  margin: 5%;
  margin-bottom: 0;
  padding: 2%;
}

.activation-section {
  background-color: rgba(0,0,0,.5);
  height: 10%;
  width: 100%;
}

.activation-section > p {
  display: inline;
  margin: auto;
}

.cooldown-section {
  background-color: black;
  border-radius: 0;
  box-shadow: none;
  float: right;
}

.base-stat-text, .conditional-stat-text {
  margin: 0;
}